/* For use in src/lib/core/theming/_palette.scss */
$md-nacpallete: (
    50 : #e3ebef,
    100 : #b9ced8,
    200 : #8baebe,
    300 : #5c8da4,
    400 : #397491,
    500 : #165c7d,
    600 : #135475,
    700 : #104a6a,
    800 : #0c4160,
    900 : #06304d,
    A100 : #81c4ff,
    A200 : #4eacff,
    A400 : #1b94ff,
    A700 : #0289ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

