@use '@angular/material' as mat;
@include mat.core();

$md-nacpallete: (
    50 : #e3ebef,
    100 : #b9ced8,
    200 : #8baebe,
    300 : #5c8da4,
    400 : #397491,
    500 : #165c7d,
    600 : #135475,
    700 : #104a6a,
    800 : #0c4160,
    900 : #06304d,
    A100 : #81c4ff,
    A200 : #4eacff,
    A400 : #1b94ff,
    A700 : #0289ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$primary-palette-color: mat.define-palette($md-nacpallete, 500);
$accent-palette-color: mat.define-palette($md-nacpallete, A200, A100, A400);

$primary-color: map-get($md-nacpallete, 500);
$primary-color-light: map-get($md-nacpallete, 200);
$gray-color: #ebe8e8;
$white-color: #f7f6fb;
$body-bg-color: #e8ebef;
$normal-font-size: 1rem;
$z-fixed: 100;
$text-color: grey;

$xxs-screen-size: 460px;
$xs-screen-size: 560px;
$sm-screen-size: 760px;
$xl-screen-size: 1200px;

$header-height: 3rem;
$nav-width: 80px;
$nav-height: 100px;

$body-font: Roboto, "Helvetica Neue", sans-serif;