@import "/src/app/styles/variables";

:host ::ng-deep {
  .page-container {
    margin-top: calc(#{$nav-height} + 1rem);

    &.expanded {
      margin-left: calc(#{$nav-width}  + 5rem);
      transition-delay: 500ms;
      transition-property: margin-left;
    }
  }
}
