:host {
  display: contents;

  ::ng-deep {
    .step {
      justify-content: space-between;
      height: 75vh;

      .card-item {
        height: 100%;

        .header {
          .title {
            margin-bottom: 0;
            font-weight: bold;
          }

          .description {
            color: var(---text-color);
            font-family: monospace;

            font-size: 0.8rem;
          }
        }

        .content {
          display: flex;
          gap: 1rem;

          mat-icon {
            margin-top: 0.5rem;
            color: var(---text-color);
          }

          .description {
            display: flex;
            flex-direction: column;
            align-items: start;
            font-weight: 600;

            label {
              color: var(---text-color);
              font-weight: 500;
            }

            p {
              font-weight: 500;
            }
          }
        }

        button,
        button:hover {
          padding: 0.5rem 0;

          .mat-button-focus-overlay,
          .mat-button-ripple {
            background: transparent;
          }
        }
      }
    }
  }
}
