<app-page-container>
  <mat-stepper [linear]="true" [disableRipple]="false">
    <mat-step label="Início">
      <app-step-start
        [dataItems]="dataResult"
        (submitEvent)="submit($event)"
      ></app-step-start>
    </mat-step>
    <mat-step label="Documentos">
      <!-- TODO: -->
      TODO
    </mat-step>
    <mat-step label="Dados Cadastrais">
      <!-- TODO: -->
      TODO
    </mat-step>
    <mat-step label="Admissão">
      <!-- TODO: -->
      TODO
    </mat-step>
  </mat-stepper>
  <div class="action-area bg-white">
    <button
      class="me-3"
      mat-button
      mat-raised-button
      color="primary"
      *ngIf="dataResult.length"
    >
      iniciar nova admissão
    </button>
    <button mat-button mat-stroked-button color="primary">
      Dicas para admissão
    </button>
  </div>
</app-page-container>
