<app-page-container>
  <mat-stepper [linear]="true" [disableRipple]="false">
    <mat-step label="Início">
      <app-step-start
        [dataItems]="dataResult"
        (submitEvent)="submit($event)"
      ></app-step-start>
    </mat-step>
    <mat-step label="Documentos">
      <!-- TODO: -->
      TODO
    </mat-step>
    <mat-step label="Dados Cadastrais">
      <!-- TODO: -->
      TODO
    </mat-step>
    <mat-step label="Admissão">
      <!-- TODO: -->
      TODO
    </mat-step>
  </mat-stepper>
</app-page-container>
