<app-page-container>
  <mat-stepper [linear]="true" [disableRipple]="false">
    <mat-step label="Início">
      <ng-template matStepContent>
        <app-step-start
          [dataItems]="dataResult"
          (submitEvent)="submit($event)"
        ></app-step-start
      ></ng-template>
    </mat-step>
    <mat-step label="Documentos">
      <!-- TODO: -->
      TODO
    </mat-step>
    <mat-step label="Dados Cadastrais">
      <!-- TODO: -->
      TODO
    </mat-step>
    <mat-step label="Admissão">
      <!-- TODO: -->
      TODO
    </mat-step>
  </mat-stepper>
</app-page-container>
