@import "/src/app/styles/variables";

:host ::ng-deep {
  .page-container {
    flex-direction: column;
  }

  mat-stepper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
    flex-grow: 1;

    .mat-horizontal-content-container {
      width: 90%;
      overflow: auto;

      .mat-horizontal-stepper-content {
        display: flex;
        flex-direction: column;
      }
    }

    .mat-horizontal-stepper-header-container {
      width: 90%;

      .mat-horizontal-stepper-header {
        padding: 0;

        .mat-step-icon {
          margin-right: 0;
          margin-bottom: 0.5rem;

          &.mat-step-icon {
            background-color: rgba(104, 103, 103, 0.54);
          }

          &.mat-step-icon-state-number.mat-step-icon-selected {
            border: 2px solid $primary-color;
            border-radius: 20px;
            background: transparent;
          }
        }

        .mat-step-label.mat-step-label-selected {
          .mat-step-text-label {
            color: $primary-color;
          }
        }
      }

      span.ng-star-inserted {
        color: transparent;
      }

      .mat-step-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
      }
    }
  }

  .action-area {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    padding-left: 6rem;
  }

  @media screen and (max-width: $sm-screen-size) {
    .mat-horizontal-stepper-content {
      height: 180vh;
    }

    .mat-horizontal-stepper-header-container {
      width: 100%;
    }

    .action-area {
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 1rem;
      gap: 0.5rem;

      button {
        width: 100%;
      }
    }
  }

  @media screen and (min-width: $xl-screen-size) {
    mat-stepper {
      .mat-horizontal-stepper-header-container {
        width: 40%;
      }

      .mat-horizontal-content-container {
        padding: 0;
        overflow: hidden;

        .mat-horizontal-stepper-content {
          width: 100%;
        }
      }
    }
  }
}
