/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

@import "./app/styles/theme.scss";


:root {
  --header-height: 3rem;
  --nav-width: 80px;
  --nav-height: 100px;
  --first-color: #165c7d;
  --gray-color: #ebe8e8;
  --first-color-light: #afa5d9;
  --white-color: #f7f6fb;
  --body-font: "Nunito", sans-serif;
  --body-bg-color: #e8ebef;
  --normal-font-size: 1rem;
  --z-fixed: 100;
  ---text-color: grey;

  --seasalt: #f5f8f8ff;
  --turquoise: #1ef3ddff;
  --zomp: #5c9a88ff;
  --black: #000000ff;
  --red: #ff0000ff;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: var(--header-height) 0 0 0;
  padding: 0 1rem;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  transition: 0.5s;
  background-color: var(--body-bg-color);
  padding-left: calc(var(--nav-width) + 1rem);

  .mat-form-field {
    display: initial;
    width: 100%;
    padding: 0;
  }

  .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0.5rem;
  }

  .form-inline {
    gap: 1rem;

    button {
      top: 0.4rem;
      height: 40px;
      padding: 0 3rem;
    }

    .mat-form-field-outline {
      background-color: var(--white-color);
    }
  }

  .simple-text {
    color: var(---text-color);
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
